
<div class="container">
  <div class="row">
    <div class="col-xs-10 darker">
      <h2>{{user.firstName}}</h2>
      <h4>Edit your password :</h4>
      <hr>
      <div class="col-xs-8 col-xs-offset-2 light">
        <form action="/user/{{user._id}}/profile/password?_method=PATCH" method="POST">
          <div class="form-group">
            <label for="password">password</label><br>
            <input class="form-control" type="password" name="password">
          </div>
          <div class="form-group">
            <label for="passwordConfirm">Confirm password</label><br>
            <input class="form-control" type="password" name="passwordConfirm">
          </div>

          <button class="btn btn-primary bottom-buffer" type="submit" name="submit">Update!</button>
        </form>
      </div>
    </div>
  </div>
</div>
