<div class="container">
  <div class="row text-center">
    <h2>who we are</h2>
    <hr>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 darker">
      <br>
      <h5>We are a dog-loving community here to share our travel experiences with man's best friend. Why leave your dogs at home when you can bring them along??</h5>
      <h5>Share your stories about the great places you've been with your hound.</h5>
      <br>
    </div>
  </div>
</div>
