<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 light">
      <div class="row text-center">
        <h2>who we are</h2>
        <hr>
      </div>
        <div class="list-group-item darker-box">Why leave your dogs at home when you can bring them along??</div>
        <br>
        <div class="list-group-item darker-box">We are a dog-loving community here to share our travel experiences with man's best friend.</div>
        <br>
        <div class="list-group-item darker-box">Share your stories about the great places you've been with your hound.</div>
        <br>
    </div>
  </div>
</div>
