<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='/css/reset.css' rel='stylesheet'>
    <link href='/css/main.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <div class="container-fluid">

    <header>
      <img id="logo" src="/images/paw.jpg" alt="Logo" />
      <nav class="list-inline">
        {{#if user}}
        <div class="userName">{{user.firstName}}</div>
        <ul class="list-inline">
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/signout">Signout</a></li>
        </ul>
        {{else}}
        <ul class="list-inline">
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/signin">Signout</a></li>        </ul>
        {{/if}}
      </nav>
    </header>

    {{{body}}}

  </div>
  </body>

  <footer></footer>
</html>
