<h1>Welcome to {{title}}</h1>

<h3>Sign in, <a href="/signup">Sign up</a>, or <a href="/index">continue</a> as guest</h3>

<form class="" action="/login" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">

  <button type="submit" name="submit">Log In</button>
</form>
