<div class="container">
  <div class="row text-center">
    <h2>Welcome!</h2>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 darker top-buffer">
      <div class="row">
        <div class="text-center top-padding">
          <h4>{{message}}</h4>
          <h4>Sign in, <a href="/signup">Sign up</a>, or <a href="/reviews">continue</a> as guest</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-left">
          <form class="" action="/login" method="POST">
            <div class="form-group">
              <label for="username">Username</label>
              <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <button class="btn btn-success bottom-buffer" type="submit" name="submit">Log In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
