<h1>Please fill out your info</h1>

<form class="" action="/signup" method="post">
  <div class="" id="signup">
    <label for="text">Sign Up:</label><br>
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
  </div>

  <button type="submit" name="submit">Signup!</button>
</form>
