<h1>Please fill out your info</h1>
<h2>{{message}}</h2>
<form class="" action="/signup" method="post">
  <div class="" id="signup">
    <label for="signup">Username</label><br>
    <input type="text" name="username" placeholder="username">
    <label for="password">Password</label><br>
    <input type="text" name="password" placeholder="password">
    <label for="fist-name">First name</label><br>
    <input type="text" name="firstName" placeholder="First name">
    <label for="last-name">Last Name</label><br>
    <input type="text" name="lastName" placeholder="Last name">
    <label for="dog-name">Your Dog's Name</label><br>
    <input type="text" name="dogName" placeholder="Dog's name">
  </div>

  <button type="submit" name="submit">Signup!</button>
</form>
