body {
  background: #414F40;
  color: #D2FFCF;
}
li {
  margin-top: 5px;
  font-size: 1.5em;
  letter-spacing: 1px;
}
a {
  color: #F4FF36;
}
a:hover {
  color: #D2FFCF;
  text-decoration: none;
}
.top-buffer {
  margin-top:10px;
}
img {
  width: 40px;
  height: 40px;
  margin: -10px 0px 0px 0px;
}
.light {
  background: #677D65;
  color: #D2FFCF;
  border: 0px;
  box-shadow: 2px 2px 2px 2px #3B473A;
}
.dark {
  background: #677D65;
  color: #D2FFCF;
  border: 0px;
  /*border: 0.5px solid #D2FFCF;*/
  /*box-shadow: 2px 2px 2px 2px #2B5E2C;*/
}
.dark:hover {
  background: #86BF67;
  color: #D2FFCF;
  /*border: 0.5px solid #D2FFCF;*/
  box-shadow: 2px 2px 2px 2px #2B5E2C;
}
.darker {
  background: #546653;
  color: #D2FFCF;
  /*border: 0.5px solid #D2FFCF;*/
  /*border-radius: 5px;*/
  box-shadow: 6px 6px 5px #3B473A;
}
.darkest {
  background: #414F40;
}
/*h1 {
  margin-left: 200px;
}*/
/*nav {
  margin-left: 200px;
}
input {
  display: block;
  margin: 40px;
}
textarea {
  display: block;
  margin: 40px;
}
#newForm {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}*/
