img {
  display: inline;
  background: grey;
  width: 60px;
  height: 60px;
  /*position: absolute;*/
  top: 10px;
  left: 10px;
  margin-right: 10px;
}
/*h1 {
  margin-left: 200px;
}*/
nav {
  margin-left: 200px;
}
