img {
  width: 40px;
  height: 40px;
  margin: -10px 0px 0px 0px;
}

.dark {
  background: #86BF67;
  color: #D2FFCF;
}
.darker {
  background: #457F41;
  color: #D2FFCF;
}
.darkest {
  background: #2B5E2C;
}
/*h1 {
  margin-left: 200px;
}*/
/*nav {
  margin-left: 200px;
}
input {
  display: block;
  margin: 40px;
}
textarea {
  display: block;
  margin: 40px;
}
#newForm {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}*/
