<div class="container-fluid darker">



<h2>{{user.firstName}}'s HOME</h2>

<ul class="list-group dark">
  {{#each reviews}}
    <li class="list-group-item dark"><a href="/user/reviews/{{_id}}">{{location.city}}: {{title}}</a></li>
  {{/each}}
</ul>
</div>
